@using ToyData.Models
@using ToyWeb.Models

@model PagedResult<Toy>;

<h4>Toys</h4>
<hr />
<form asp-action="Index" asp-controller="Toy" method="post">
	<table class="table table-striped table-hover">
        <tr>
            <th scope="col" style="text-align:center">Toy ID</th>
            <th scope="col" style="text-align:center">Toy Name</th>
            <th scope="col" style="text-align:center">Toy Description</th>
            <th scope="col" style="text-align:center">Toy Rate</th>
            <td scope="col" style="text-align:center">Quantity</td>
            <td scope="col" style="text-align:center">Option</td>
        </tr>
        @foreach (var toy in Model.Results)
        {
            <tr>
                <td scope="row" style="text-align:center">@toy.CToyId</td>
                <td style="text-align:center">@toy.VToyName</td>
                <td style="text-align:center">@toy.VToyDescription</td>
                <td style="text-align:center">@toy.MToyRate.ToString("C2")</td>
                <td style="text-align:center">@toy.SiToyQoh</td>
                <td style="text-align:center"> 
                    <a href="@Url.Action("Add", "Cart", new { id = toy.CToyId })">Buy</a>
                    </td>
            </tr>
        }
    </table>
    <br />

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int pageIndex = 1; pageIndex <= Model.PageCount; pageIndex++)
            {

                @if (pageIndex != Model.CurrentPage)
                {

                    <li class="page-item"><a class="page-link" href="javascript:pagerClick(@pageIndex);">@pageIndex</a></li>
                }
                else
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@pageIndex <span class="sr-only">(current)</span></a>
                    </li>
                }

            }
        </ul>
    </nav>
    <input type="hidden" id="currentPageIndex" name="currentPageIndex" />
</form>
<script type="text/javascript">
    function pagerClick(index) {
        document.getElementById("currentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
